# API Config
API_HOST=
API_PORT=
API_SECRET_KEY=
API_EMAIL=
API_EMAIL_APP_PASSWORD=

# Pluggy Config
PLUGGY_CLIENT_ID=
PLUGGY_CLIENT_SECRET=
PLUGGY_API_URL=

# Database Config
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DATABASE=
DB_DRIVER=
DB_DRIVER_ASYNC=